{% extends "lp/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="signup-container panel panel-default">
        <div class="panel-heading">Formulaire de préinscription</div>
        <form method="post" class="form-horizontal preinscription-form panel-body">
            {% csrf_token %}
            {{ form|safe }}
            <p class="text-right"><button type="submit">Confirmer</button></p>
        </form>
    </div>
</div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'lp/js/application-form.js' %}"></script>
<script type="text/javascript">
    window._initApplicationForm(
        '{{ type_diplome }}', '{{ filiere_diplome }}', '{{ option_diplome }}',
        '{{ filiere_choisie }}', {{ arbre_diplome_json|safe }}, {{ filieres_json|safe }}
    );
</script>
{% endblock extra_js %}