{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block page_title %}Inscription LP{% endblock page_title %}</title>

    {# Main style #}
    <link rel="stylesheet" href="{% static 'lp/css/style.css' %}">
    {# Bootstrap #}
    <link rel="stylesheet" type="text/css" href="{% static 'lp/css/bootstrap.min.css' %}">

    {% block extra_css %}{% endblock extra_css %}
</head>
<body>
<div id="container">
    <header class="clear-fix">
        <div class="container">
            <img src="{% static 'lp/img/logo-estc.png' %}" alt="École Supérieure de Technologie de Casablanca" class="pull-left"/>
            <img src="{% static 'lp/img/logo-uh2c.png' %}" alt="Université Hassan II de Casablanca" class="pull-right"/>
        </div>
    </header>
    {% block flashmessages %}
        {% if messages %}
        <ul class="messages">
            {% for msg in messages %}       
            <li>
                <div class="alert alert-{{msg.level_tag}}" role="alert">
            {{msg.message}}
            </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endblock flashmessages %}
    {% block content %} {% endblock content %}
</div>
{% block javascript %}
{# jQuery #}
<script type="text/javascript" src="{% static 'lp/js/jquery-3.1.1.min.js' %}"></script>
{% endblock javascript %}
{% block extra_js %}
{% endblock extra_js %}
</body>
</html>