{% extends "lp/apply.html" %}

{% block breadcrumb %}
    {{ block.super }} » <a href="{% url 'lp:confirm_email' %}">Confirmation d'email</a>
{% endblock breadcrumb %}

{% block sitecontent %}
<div class="container small-container">
    <h1>Réenvoyer l'email de confirmation</h1>
    <p>Un e-mail de confirmation vous a été envoyé.</p>
    <p>Veuillez consulter votre boîte e-mail afin de valider votre adresse et continuer l'inscription</p>
</div>
{% endblock sitecontent %}

{% block extra_js %}
{# Nothing in here #}
{% endblock extra_js %}