{% extends "lp/base.html" %}

{% block content %}
<article class="cover">
    <div class="container">
        <div class="description">
            <h1>Formations diplômantes</h1>
            <p class="col-lg-10 col-lg-offset-1">L’ESTC vous propose des Diplômes d’Université (D.U) des : Licences Professionnelles Universitaires, Masters Spécialisés Universitaires. Pour vous permettre de : Développer vos compétences et évoluer dans vos carrières, faire reconnaitre vos acquis d’expérience et obtenir un diplôme.</p>
            <p class="col-lg-10 col-lg-offset-1">
                <a href="{% url 'lp:apply' %}" title="Formulaire d'inscription" class="fancy-link">Préinscrivez-vous dès maintenant »</a><br/>
                <a href="{% url 'lp:login' %}" title="Formulaire de connexion" class="login-link">Ou connectez-vous pour modifier vos paramètres »</a><br/>
            </p>
        </div>
    </div>
</article>
<article class="index-content">
    <div class="container">
        <div class="dates-importantes col-sm-6">
            <div><h2>Dates à retenir</h2></div>
            <div><p class="col-sm-7">Début des préinscriptions : </p><p class="col-sm-5 text-right">NN/NN/NN</p></div>
            <div><p class="col-sm-7">Fin des préinscriptions : </p><p class="col-sm-5 text-right">NN/NN/NN</p></div>
            <div><p class="col-sm-7">Résultat des préinscriptions : </p><p class="col-sm-5 text-right">NN/NN/NN</p></div>
            <div><p class="col-sm-7">Listes principales/d'attente : </p><p class="col-sm-5 text-right">NN/NN/NN</p></div>
        </div>
        <div class="info-contact col-sm-6">
            <div><h2>Contact</h2></div>
            <div>
                <p>Ecole Supérieure de Technologie , Route d'Eljadida,<br/>
                KM 7, CASABLANCA, Maroc<br/>
                Tél: 212 522 231 560/565<br/>
                Fax: 212 522 252 245</p>
                <p><a href="mailto:estcasa@est-uh2c.ac.ma">estcasa@est-uh2c.ac.ma</a></p>
            </div>
        </div>
    </div>
</article>
{% endblock content %}