{% extends "lp/base.html" %}

{% block content %}
<article class="cover">
    <div class="container">
        <div class="description">
            <h1>Formations diplômantes</h1>
            <p>L’ESTC vous propose des Diplômes d’Université (D.U) des : Licences Professionnelles Universitaires, Masters Spécialisés Universitaires. Pour vous permettre de : Développer vos compétences et évoluer dans vos carrières, faire reconnaitre vos acquis d’expérience et obtenir un diplôme.</p>
            <p>
                <a href="{% url 'lp:apply' %}" title="Formulaire d'inscription" class="fancy-link">Préinscrivez-vous dès maintenant »</a><br/>
                <a href="{% url 'lp:login' %}" title="Formulaire de connexion" class="login-link">Ou connectez-vous pour modifier vos paramètres »</a><br/>
            </p>
        </div>
    </div>
</article>
{% endblock content %}