{% extends 'lp/site_base.html' %}

{% block page_title %}{{ block.super }} :: Candidat{% endblock page_title %}

{% block breadcrumb %}
    <div class="text-right">
        Connecté en tant que <a href="{% url 'lp:panel' %}">{{ email }}</a> | <a href="{% url 'lp:password_change'%}">Changer le Mot de passe</a> | <a href="{% url 'lp:logout'%}">Se déconnecter</a>
    </div>
{% endblock breadcrumb %}

{% block sitecontent %}
{% block panelcontent %}
    Content
{% endblock panelcontent %}
{% endblock sitecontent %}