{% extends 'lp/panel_base.html' %}
{% load static %}

{% block page_title %}{{ block.super }} :: Changement du mot de passe{% endblock page_title %}

{% block panelcontent %}
<div class="container application-container">
    <form method="post" class="form-horizontal application-form panel-body">
        {% csrf_token %}
        {{ form }}
        <p class="text-right"><button type="submit" class="btn btn-lg btn-primary">Enregistrer</button></p>
    </form>
</div>
{% endblock panelcontent %}

{% block extra_js %}
<script type="text/javascript" src="{% static 'lp/js/application-form.js' %}"></script>
<script type="text/javascript">
    window._initApplicationForm(
        '{{ type_diplome }}', '{{ filiere_diplome }}', '{{ option_diplome }}',
        '{{ filiere_choisie }}', {{ arbre_diplome_json }}, {{ filieres_json }}, {{ villes_json }}
    );
</script>
{% endblock extra_js %}