{% extends 'lp/site_base.html' %}

{% block page_title %}{{ block.super }} :: Changement du mot de passe{% endblock page_title %}

{% block breadcrumb %}
    {{ block.super }} » <a href="{% url 'lp:password_reset' %}">Réinitialisation de mot de passe</a>
{% endblock breadcrumb %}

{% block sitecontent %}
<div class="container login-container small-container">
    <h1>Réinitialisation du mot de passe</h1>
    <form method="post" class="form-vertical">
        {% csrf_token %}
        <p class="form-group">
            Saisissez votre adresse e-mail et nous vous enverrons un e-mail de rappel de vos identifiants de connexion ainsi que la procédure à suivre pour réinitialiser votre mot de passe.
        </p>
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <p class="form-group text-right">
            <button type="submit" class="btn btn-lg btn-primary">Envoyer des instructions »</button>
        </p>
    </form>
</div>
{% endblock sitecontent %}