{% extends 'lp/base.html' %}

{% block page_title %}{{ block.super }} :: Changement du mot de passe{% endblock page_title %}

{% block content %}

<p>Nous vous avons envoyé par courriel les instructions pour changer de mot de passe, pour autant qu'un compte existe avec l'adresse que vous avez indiquée. Vous devriez recevoir rapidement ce message.</p>

<p>Si vous ne recevez pas de message, vérifiez que vous avez saisi l'adresse avec laquelle vous vous êtes enregistré et contrôlez votre dossier de pourriels (SPAM).</p>

<a href="{% url 'lp:index' %}">Retour vers l'accueil</a>

{% endblock %}