{% extends 'lp/site_base.html' %}

{% block page_title %}{{ block.super }} :: Création de mot de passe{% endblock page_title %}

{% block breadcrumb %}
    {{ block.super }} » <a href="{% url 'lp:set_password' %}">Création de mot de passe</a>
{% endblock breadcrumb %}

{% block content %}
<div class="container login-container small-container">
    <h1>Création de mot de passe</h1>
    <form method="post" class="form-vertical">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <p class="form-group text-right">
            <button type="submit" class="btn btn-lg btn-primary">Créer mot de passe »</button>
        </p>
    </form>
</div>
{% endblock content %}